<h1>Pipes <small>Angular</small></h1>
<hr>

<div class="row">
    <div class="col">

        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>Variable</th>
                    <th>Pipe</th>
                    <th>Salida</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{nombre}}</td>
                    <td>uppercase</td>
                    <td>{{nombre | uppercase}}</td>
                </tr>
                <tr>
                    <td>{{nombre}}</td>
                    <td>lowercase</td>
                    <td>{{nombre | lowercase}}</td>
                </tr>
                <tr>
                    <td>{{nombre3}}</td>
                    <td>Capitalizado</td>
                    <td>{{nombre3 | capitalizado}}</td>
                </tr>
                <tr>
                    <td>{{nombre}}</td>
                    <td>slice:3</td>
                    <td>{{nombre | slice:3}}</td>
                </tr>
                <tr>
                    <td>{{nombre}}</td>
                    <td>slice:0:3</td>
                    <td>{{nombre | slice:0:3}}</td>
                </tr>
                <tr>
                    <td>{{arreglo}}</td>
                    <td>slice:1:5</td>
                    <td>{{arreglo | slice:1:5}}</td>
                </tr>
                <tr>
                    <td>{{PI}}</td>
                    <td>number: '3.0-0'</td>
                    <td>{{PI | number: '3.0-0'}}</td>
                </tr>
                <tr>
                    <td>{{PI}}</td>
                    <td>number: '.0-2'</td>
                    <td>{{PI | number: '.0-2'}}</td>
                </tr>
                <tr>
                    <td>{{porcentaje}}</td>
                    <td>percent: '.2-2'</td>
                    <td>{{porcentaje | percent: '.2-2'}}</td>
                </tr>
                <tr>
                    <td>{{salario}}</td>
                    <td>currency: 'EUR'</td>
                    <td>{{salario | currency:'EUR'}}</td>
                </tr>
                <tr>
                    <td>{{salario}}</td>
                    <td>currency: 'CAD'</td>
                    <td>{{salario | currency:'CAD':'symbol':'.0-0'}}</td>
                </tr>

                <tr>
                    <td>{{valorPromesa}}</td>
                    <td>async</td>
                    <td>{{valorPromesa | async}}</td>
                </tr>
                <tr>
                    <td>{{fecha}}</td>
                    <td>date: 'medium'</td>
                    <td>{{fecha | date: 'medium'}}</td>
                </tr>
                <tr>
                    <td>{{fecha}}</td>
                    <td>date: 'short'</td>
                    <td>{{fecha | date: 'short'}}</td>
                </tr>
                <tr>
                    <td>{{fecha}}</td>
                    <td>date: 'MMMM - dd - fr': '':'fr'</td>
                    <td>{{fecha | date: 'MMMM - dd - y': '':'fr'}}</td>
                </tr>
                <tr>
                    <td>{{fecha}}</td>
                    <td>date: 'shortDate'</td>
                    <td>{{fecha | date: 'shortDate'}}</td>
                </tr>
                <tr>
                    <td>{{fecha}}</td>
                    <td>date: 'shortTime'</td>
                    <td>{{fecha | date: 'shortTime':'a'}}</td>
                </tr>
                <tr>
                    <td>{{fecha}}</td>
                    <td>date: 'MMMM - dd - y': '':'{{idioma}}'
                        <br>
                        <button class="mr-1 btn btn-primary" (click)="cambiarIdioma('es')">Español</button>
                        <button class="mr-1 btn btn-secondary" (click)="cambiarIdioma('en')">Inglés</button>
                        <button class="btn btn-success" (click)="cambiarIdioma('fr')">Francés</button>
                    </td>
                    <td>{{fecha | date: 'MMMM - dd - y': '':idioma}}</td>
                </tr>
            </tbody>
        </table>

        <h3>Slice</h3>

        <ul>
            <li *ngFor="let item of arreglo | slice:5:20">{{item}}</li>
        </ul>

        <h3>JSON</h3>
        <div class="row mt-5">
            <div class="col">
                {{heroe | json}}
            </div>
        </div>


    </div>
</div>

<h3 class="mt-4 mb-5">DomSeguro</h3>
<div class="row">
    <div class="col">
        <iframe width="560" height="315" [src]="videoUrl | domseguro" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
    </div>
</div>